[tool.poetry]
name = "encapsia-api"
version = "0.1.9"
description = "Client API for talking to an Encapsia system."
readme = "README.md"
authors = ["Timothy Corbett-Clark <timothy.corbettclark@gmail.com>"]
license = "MIT"
long_description_content_type = "text/markdown"
keywords = ["encapsia", "eSource", "EDC", "Clinical Trials"]
homepage = "https://github.com/tcorbettclark/encapsia-api"

[tool.poetry.dependencies]
python = "^3.6"
requests = {version = "^2.20",extras = ["security"]}
toml = "^0.10.0"

[tool.poetry.dev-dependencies]
black = {version = "^18.3-alpha.0",allows-prereleases = true}
isort = "^4.3"
flake8 = "^3.7"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
