[tool.poetry]
name = "encapsia-api"
version = "0.1.23"
description = "Client API for talking to an Encapsia system."
readme = "README.md"
authors = ["Timothy Corbett-Clark <timothy.corbettclark@gmail.com>"]
license = "MIT"
keywords = ["encapsia", "eSource", "EDC", "Clinical Trials"]
homepage = "https://github.com/tcorbettclark/encapsia-api"

[tool.poetry.dependencies]
python = "^3.6"
requests = {version = "^2.20",extras = ["security"]}
toml = "^0.10.0"
arrow = "^0.13.1"

[tool.poetry.dev-dependencies]
black = {version = "^19.10b0",allow-prereleases = true}
isort = "^4.3"
flake8 = "^3.7"
nose2 = "^0.9"

[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"
